Package: server-s69
Version: 1.0.0           
Section: misc                
Priority: optional    
Architecture: all        
Depends: python3, python3-pip, python3-venv, mosquitto, python3-flask, python3-flask-socketio
Maintainer: alii313montazer@gmail.com
Description:This program is designed to communicate between the Android operating
 system    and desktop-based OSes such as Ubuntu, 
 Kali, etc. It receives information from them in an encrypted form and delivers the
 messages to the main app, 
 given that it uses two different modes in the network, namely Web Socket and MQTT.
